In [20]:
import pandas as pd
from datetime import date, timedelta
import os
import matplotlib.pyplot as plt
import statsmodels.api as sm
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [63]:
from mainDriver_NEW import austinBikeShareVsCrime

Initialize Class

In [64]:
test = austinBikeShareVsCrime()

## Read and Format Data

In [65]:
test.readAndFormatData()

c:\users\jorda\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3263: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Make sure all data has been read in correctly

In [66]:
test.austin_bikeshare_stations_df.head()

   latitude              location  longitude                     name  station_id  status
0  30.27041  (30.27041 -97.75046)  -97.75046           West & 6th St.        2537  active
1  30.26452   (30.26452 -97.7712)  -97.77120      Barton Springs Pool        2572  active
2  30.27595  (30.27595 -97.74739)  -97.74739  ACC - Rio Grande & 12th        2545  closed
3  30.28480   (30.2848 -97.72756)  -97.72756  Red River & LBJ Library        1004  closed
4  30.26694  (30.26694 -97.74939)  -97.74939             Nueces @ 3rd        1008   moved

In [67]:
test.austin_bikeshare_trips_df.head()

   bikeid checkout_time  duration_minutes  end_station_id                          end_station_name  month  start_station_id                 start_station_name          start_time                 subscriber_type     trip_id    year
0     8.0      19:12:00                41          2565.0                      Trinity & 6th Street    3.0            2536.0                   Waller & 6th St. 2015-03-19 19:12:00                         Walk Up  9900082882  2015.0
1   141.0       2:06:04                 6          2570.0                  South Congress & Academy   10.0            2494.0                     2nd & Congress 2016-10-30 02:06:04                        Local365    12617682  2016.0
2   578.0      16:28:27                13          2498.0   Convention Center / 4th St. @ MetroRail    3.0            2538.0    Bullock Museum @ Congress & MLK 2016-03-11 16:28:27                        Local365     9075366  2016.0
3   555.0      15:12:00                80          2712.0                   Toomey Rd @ South Lamar   11.0            2497.0  Capitol Station / Congress & 11th 2014-11-23 15:12:00  24-Hour Kiosk (Austin B-cycle)  9900319298  2014.0
4    86.0      15:39:13                25          3377.0  MoPac Pedestrian Bridge @ Veterans Drive    4.0            2707.0               Rainey St @ Cummings 2017-04-16 15:39:13                         Walk Up    14468597  2017.0

In [68]:
test.crimeWDistance.head()

,Unnamed: 0,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Address,Zip Code,Council District,APD Sector,APD District,PRA,Census Tract,Clearance Status,Clearance Date,UCR Category,Category Description,X-coordinate,Y-coordinate,Latitude,Longitude,Location,year,latitude,longitude,distance to 1001,distance to 1002,distance to 1003,distance to 1004,distance to 1005,distance to 1006,distance to 1007,distance to 1008,distance to 2494,distance to 2495,distance to 2496,distance to 2497,distance to 2498,distance to 2499,distance to 2500,distance to 2501,distance to 2502,distance to 2503,distance to 2504,distance to 2536,distance to 2537,distance to 2538,distance to 2539,distance to 2540,distance to 2541,distance to 2542,distance to 2544,distance to 2545,distance to 2546,distance to 2547,distance to 2548,distance to 2549,distance to 2550,distance to 2552,distance to 2561,distance to 2562,distance to 2563,distance to 2564,distance to 2565,distance to 2566,distance to 2567,distance to 2568,distance to 2569,distance to 2570,distance to 2571,distance to 2572,distance to 2574,distance to 2575,distance to 2576,distance to 2707,distance to 2711,distance to 2712,distance to 2822,distance to 2823,distance to 3291,distance to 3292,distance to 3293,distance to 3294,distance to 3377,distance to 3381,distance to 3390,distance to 3455,distance to 3464,distance to 3513,distance to 3619,distance to 3621,distance to 3635,distance to 3660,distance to 3684,distance to 3685,distance to 3686,distance to 3687
0,2,2.017257e+10,AGG ROBBERY/DEADLY WEAPON,300,N,9/14/2017 22:37,2017-09-14,2237,9/14/2017 22:37,9/14/2017,2237,STREETS / HWY / ROAD / ALLEY,E ST JOHNS AVE / ROLAND JOHNSON DR,78752.0,4.0,ID,8,279.0,18.04,O,9/20/2017,120,Robbery,3125442,3125442,30.333542,-97.705762,"(30.33354183, -97.70576196)",2017,30.333542,-97.705762,7604.400028,8056.778502,7932.173791,5809.766825,6765.104832,9624.132589,8127.289671,8508.187862,8533.389417,8316.266847,7889.640442,7585.522699,8280.013504,8602.470381,8388.677230,8449.747617,9287.978352,10080.712560,10332.288670,8024.107872,8227.610802,6675.474769,8384.438535,6946.627875,7209.576674,8204.306461,8339.001917,7548.557058,7568.514346,6518.924170,6340.644607,9260.220808,8315.602223,8546.931117,7374.952232,7875.920024,8739.286665,8142.667034,8034.813075,8756.021182,9400.566119,7503.677136,7495.071925,9927.584041,7805.625708,9918.314681,9619.129702,9103.567927,8986.952307,9243.320538,9570.349247,9318.846229,8240.350199,8598.853097,7539.053881,8371.600198,8749.425021,8148.711803,9012.834723,8159.926571,8103.097122,8388.124183,7332.450213,9203.059794,8089.237028,8500.560334,7403.668088,8064.106508,8672.877964,8165.084092,9528.506312,9466.067193
1,6,2.014505e+10,BURGLARY OF VEHICLE,601,N,10/11/2014 17:00,2014-10-11,1700,10/12/2014 4:13,10/12/2014,413,PARKING LOTS / GARAGE,E 7TH ST / TRINITY ST,78701.0,9.0,GE,2,382.0,11.00,N,11/4/2014,23F,Theft,3115529,3115529,30.268006,-97.738955,"(30.26800598, -97.73895531)",2014,30.268006,-97.738955,439.486675,1094.093681,725.402333,2164.405511,1242.418015,2824.355216,612.457236,1009.102401,620.718543,499.009584,342.942902,557.101152,353.178943,833.654551,872.288642,1390.863694,1396.515295,2131.367055,2381.819686,896.410164,1136.734719,1379.545093,434.150885,1349.410738,981.108744,1283.083416,2533.424726,1198.494511,1282.703875,1796.529693,1993.098782,1407.290930,765.473691,1242.415010,601.654545,151.305090,870.451223,722.631875,81.334712,1528.346307,1670.781105,1016.360500,810.624268,1978.124447,246.887547,3120.888198,2820.247966,1744.510534,1110.477264,1360.891291,2236.485482,1932.646079,2099.313929,3064.395837,438.150187,1719.479472,2558.881942,706.498163,3097.867394,2909.703617,253.575454,875.026581,1939.366975,1261.235632,374.788366,999.175581,1070.419417,799.939864,785.804796,1377.089822,2430.776166,1534.035945
2,9,2.015501e+10,FORGERY AND PASSING,1000,N,2/11/2015 15:29,2015-02-11,1529,2/15/2015 15:29,2/15/2015,1529,BANKS / SAVINGS & LOAN,2117 E 7TH ST,78702.0,3.0,CH,1,419.0,9.02,N,2/17/2015,NaN,NaN,3121952,3121952,30.261677,-97.718775,"(30.26167703, -97.71877525)",2015,30.261677,-97.718775,2329.234520,977.205093,2782.122824,2706.017177,2618.057201,4775.362602,2666.113178,2997.918602,2394.360602,2456.803589,2393.961725,2478.357445,1973.795161,2711.368634,2882.578227,3432.618352,2895.006623,3158.286436,3334.631898,1171.413918,3194.139845,2787.507253,2080.465763,3040.172271,2741.376239,833.029010,491.335050,3173.411927,3266.085646,3331.590108,3473.374201,2981.766202,2785.820299,3252.391914,2261.450336,2187.559727,1896.851162,1383.431812,2072.412796,3517.101201,3338.423415,1231.091506,1453.371530,3044.560503,1861.997434,5044.856298,4771.865730,3650.681054,1993.985054,2124.613991,4072.818603,3793.303890,152.297931,1027.883039,2214.225267,516.554005,725.074853,2760.483513,5152.694786,855.724724,2281.452173,2885.886052,3873.003591,2632.594861,2423.892256,2989.154524,2979.676536,1277.108422,2532.955128,3438.979014,4337.150204,2419.078471
3,10,2.019501e+10,THEFT,600,N,10/1/2018 14:20,2018-10-01,1420,4/1/2019 14:20,4/1/2019,1420,COMMERCIAL / OFFICE BUILDING,1105 CLAYTON LN,78723.0,4.0,ID,5,292.0,21.05,NaN,NaN,23H,Theft,3126792,3126792,30.317962,-97.701906,"(30.31796168, -97.70190647)",2018,30.317962,-97.701906,6295.549637,6543.609700,6694.860292,4434.249205,5490.959587,8610.359965,6862.329998,7278.156030,7203.013379,7007.994991,6587.442260,6302.762894,6898.428611,7318.408817,7146.623882,7299.667706,7976.636020,8721.501624,8969.366675,6536.481622,7049.032606,5433.358616,7014.019330,5769.001393,5974.987121,6670.245211,6676.673664,6394.657276,6431.995170,5394.825626,5243.733819,7965.920916,7061.433881,7358.102305,6052.948251,6540.164227,7319.707147,6681.297209,6676.992954,7597.825294,8152.147404,6014.461692,6040.399507,8568.740854,6419.188317,8920.583950,8605.273561,7938.445881,7561.651298,7813.090431,8432.710280,8157.885710,6616.022739,6901.125809,6210.439792,6790.867454,7096.942314,6898.741358,8140.987383,6464.358475,6776.039501,7146.663250,6327.112229,7857.332478,6785.684222,7269.543088,6215.097088,6590.032443,7355.244744,7034.510036,8443.652890,8058.432331
4,14,2.018274e+10,POSS OF DRUG PARAPHERNALIA,1818,N,10/1/2018 23:51,2018-10-01,2351,10/1/2018 23:51,10/1/2018,2351,HOTEL / MOTEL / ETC.,10711 RESEARCH BLVD SVRD NB,78759.0,7.0,AD,1,215.0,17.53,N,10/7/2018,NaN,NaN,3112827,3112827,30.398291,-97.744022,"(30.39829057, -97.74402237)",2018,30.398291,-97.744022,14063.816270,15024.043480,14148.235170,12718.076300,13273.118040,14907.107830,14389.169250,14614.599030,14923.603350,14672.252390,14289.006590,13978.649640,14847.964370,14850.280520,14547.196100,14337.532390,15528.310030,16382.343290,16620.907080,14921.231410,14233.086270,13122.300760,14907.963150,13182.989520,13540.124750,15219.458330,15746.621870,13607.489210,13577.640650,12715.601900,12514.629480,15452.459830,14519.224530,14529.522790,13903.465000,14368.666100,15365.393140,14952.858730,14566.889970,14616.859300,15436.055360,14458.550900,14357.543460,16243.646810,14445.848690,15101.573060,14903.214110,14930.548550,15604.529050,15850.473010,15244.022940,15100.954180,15528.606650,16121.413120,14060.502040,15514.395840,16102.246500,14365.744280,13976.143580,15692.494440,14540.751870,14545.049210,13045.669370,15557.299750,14463.625140,14610.930030,13580.549180,14918.604090,15008.385890,14047.326590,15046.577000,15981.597840

In [69]:
test.austin_weather_df.head()

        Date  TempHighF  TempAvgF  TempLowF DewPointHighF DewPointAvgF DewPointLowF HumidityHighPercent HumidityAvgPercent HumidityLowPercent SeaLevelPressureHighInches SeaLevelPressureAvgInches SeaLevelPressureLowInches VisibilityHighMiles VisibilityAvgMiles VisibilityLowMiles WindHighMPH WindAvgMPH WindGustMPH PrecipitationSumInches               Events
0 2013-12-21         74        60        45            67           49           43                  93                 75                 57                      29.86                     29.68                     29.59                  10                  7                  2          20          4          31                   0.46  Rain , Thunderstorm
1 2013-12-22         56        48        39            43           36           28                  93                 68                 43                      30.41                     30.13                     29.87                  10                 10                  5          16          6          25                      0
2 2013-12-23         58        45        32            31           27           23                  76                 52                 27                      30.56                     30.49                     30.41                  10                 10                 10           8          3          12                      0
3 2013-12-24         61        46        31            36           28           21                  89                 56                 22                      30.56                     30.45                      30.3                  10                 10                  7          12          4          20                      0
4 2013-12-25         58        50        41            44           40           36                  86                 71                 56                      30.41                     30.33                     30.27                  10                 10                  7          10          2          16                      T

## Featue Creation

#### Day of Week

In [70]:
index = pd.date_range(test.INDEX_START_DATE, test.INDEX_END_DATE - timedelta(days=1), freq='d')
columns = []
featureDF = pd.DataFrame(index=index, columns=columns)
featureDF['date'] = index
featureDF

                 date
2013-12-21 2013-12-21
2013-12-22 2013-12-22
2013-12-23 2013-12-23
2013-12-24 2013-12-24
2013-12-25 2013-12-25
...               ...
2017-07-26 2017-07-26
2017-07-27 2017-07-27
2017-07-28 2017-07-28
2017-07-29 2017-07-29
2017-07-30 2017-07-30

[1318 rows x 1 columns]

In [71]:
feature = test.oneHotEncodingDayOfWeek(featureDF, 'date')
test.test.head()

AttributeError: 'austinBikeShareVsCrime' object has no attribute 'test'

In [58]:
def oneHotEncodingDayOfWeek(df, df_date_column):
    day_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

    def is_day(x, day_index):
        if x == day_index:
            return 1
        else:
            return 0

    dfCopy = df.copy()
    dfCopy['temp'] = pd.to_datetime(dfCopy[df_date_column]).dt.dayofweek
    for index, day in enumerate(day_of_week):
        dfCopy[f'is{day}'] = dfCopy['temp'].apply(lambda x: is_day(x, index))
    dfCopy = dfCopy.drop(columns=['temp'])
    return dfCopy

In [59]:
oneHotEncodingDayOfWeek(featureDF, 'date')

                 date  isMonday  isTuesday  isWednesday  isThursday  isFriday  isSaturday  isSunday
2013-12-21 2013-12-21         0          0            0           0         0           1         0
2013-12-22 2013-12-22         0          0            0           0         0           0         1
2013-12-23 2013-12-23         1          0            0           0         0           0         0
2013-12-24 2013-12-24         0          1            0           0         0           0         0
2013-12-25 2013-12-25         0          0            1           0         0           0         0
...               ...       ...        ...          ...         ...       ...         ...       ...
2017-07-26 2017-07-26         0          0            1           0         0           0         0
2017-07-27 2017-07-27         0          0            0           1         0           0         0
2017-07-28 2017-07-28         0          0            0           0         1           0         0
2017-07-29 2017-07-29         0          0            0           0         0           1         0
2017-07-30 2017-07-30         0          0            0           0         0           0         1

[1318 rows x 8 columns]