In [9]:
import pandas as pd
from datetime import date, timedelta

In [14]:
df_bikeshareTrips = pd.read_csv('Data/austin_bikeshare_trips.csv')

In [15]:
df_bikeshareTrips['start_time'] = pd.to_datetime(df_bikeshareTrips['start_time'], format='%Y-%m-%d %H:%M:%S')
df_bikeshareTrips['date'] = df_bikeshareTrips['start_time'].dt.date

In [16]:
austin_bikeshare_trips_df.head()

,bikeid,checkout_time,duration_minutes,end_station_id,end_station_name,month,start_station_id,start_station_name,start_time,subscriber_type,trip_id,year
0,8.0,19:12:00,41,2565.0,Trinity & 6th Street,3.0,2536.0,Waller & 6th St.,2015-03-19 19:12:00,Walk Up,9900082882,2015.0
1,141.0,2:06:04,6,2570.0,South Congress & Academy,10.0,2494.0,2nd & Congress,2016-10-30 02:06:04,Local365,12617682,2016.0
2,578.0,16:28:27,13,2498.0,Convention Center / 4th St. @ MetroRail,3.0,2538.0,Bullock Museum @ Congress & MLK,2016-03-11 16:28:27,Local365,9075366,2016.0
3,555.0,15:12:00,80,2712.0,Toomey Rd @ South Lamar,11.0,2497.0,Capitol Station / Congress & 11th,2014-11-23 15:12:00,24-Hour Kiosk (Austin B-cycle),9900319298,2014.0
4,86.0,15:39:13,25,3377.0,MoPac Pedestrian Bridge @ Veterans Drive,4.0,2707.0,Rainey St @ Cummings,2017-04-16 15:39:13,Walk Up,14468597,2017.0

In [25]:
INDEX_START_DATE = date(2013, 12, 21)
INDEX_END_DATE  = date(2017, 7, 31)
index = pd.date_range(INDEX_START_DATE, INDEX_END_DATE - timedelta(days=1), freq='d')
tempDF = pd.DataFrame()
tempDF['date'] = index
tempDF['date'] = pd.to_datetime(tempDF['date']).dt.date

df_bikeshareTrips = df_bikeshareTrips.copy()
df_bikeshareTrips['date'] = df_bikeshareTrips['start_time'].dt.date

merged = pd.merge(tempDF, df_bikeshareTrips, how='left', left_on='date', right_on='date')
merged = merged.groupby(['date']).count()['bikeid'].reset_index()
merged = merged.rename(columns={'bikeid': 'totalRides'})
merged = merged.set_index('date')
merged

            totalRides
date
2013-12-21         103
2013-12-22         117
2013-12-23          96
2013-12-24          85
2013-12-25         145
...                ...
2017-07-26         381
2017-07-27         370
2017-07-28         402
2017-07-29         425
2017-07-30         365

[1318 rows x 1 columns]

In [26]:
test = pd.read_csv('Data/data_features.csv')

In [33]:
test.columns

Index(['date', 'isMonday', 'isTuesday', 'isWednesday', 'isThursday',
       'isFriday', 'isSaturday', 'isSunday', 'isJanuary', 'isFebruary',
       'isMarch', 'isApril', 'isMay', 'isJune', 'isJuly', 'isAugust',
       'isSeptember', 'isOctober', 'isNovember', 'isDecember',
       'SeaLevelPressureAvgInches_1DayWindow',
       'SeaLevelPressureAvgInches_3DayWindow',
       'SeaLevelPressureAvgInches_1WeekWindow',
       'SeaLevelPressureAvgInches_1MonthWindow', 'crime_1DayWindow_50m',
       'crime_3DayWindow_50m', 'crime_1WeekWindow_50m',
       'crime_1MonthWindow_50m', 'crime_1DayWindow_100m',
       'crime_3DayWindow_100m', 'crime_1WeekWindow_100m',
       'crime_1MonthWindow_100m', 'crime_1DayWindow_250m',
       'crime_3DayWindow_250m', 'crime_1WeekWindow_250m',
       'crime_1MonthWindow_250m', 'crime_1DayWindow_500m',
       'crime_3DayWindow_500m', 'crime_1WeekWindow_500m',
       'crime_1MonthWindow_500m', 'averageRides_1DayWindow', 'totalRides',
       'averageDuration_1DayWindow', 'averageRides_3DayWindow',
       'averageDuration_3DayWindow', 'averageRides_7DayWindow',
       'averageDuration_7DayWindow', 'averageRides_1MonthWindow',
       'averageDuration_1MonthWindow'],
      dtype='object')

In [34]:
len(test.dropna())

1135

In [46]:
len(test.dropna()['date'])

1135